/*variables*/
:root{
  --primaryColor: #14213D;
}

*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button:hover{
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(252, 163, 18, 1);
}


body{
  background-color: #f5f5f5;
  
}

body::-webkit-scrollbar {
  width: 5px;
  
}

body::-webkit-scrollbar-thumb {
  background-color: darkgray;
}

body::-webkit-scrollbar-track {
  background-color: lightgray;
}
#root{
  background-color: #f5f5f5;
  width: 100vw;
  height: 100vh;
 
}

.navbar{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0em 1.5em;
  height: 8vh;
  color: #595959;
  font-weight: bolder;
  
  
}

.about{
  background-color: white;
}

.about>h1{
  text-align: center;
}
.navSmScreen{
  z-index: 1;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  margin: 0.8em 0;
  
 
  
  
}

.navMdScreen{
  display: flex;
  list-style: none;
  gap: 2em;
  
  
}

.proj, .project-md{
  position: relative;
    transition: all 0.5s ease-in-out;
    &:hover{
      &.project:after{
        content: "UNDER DEVELOPMENT";
        position: absolute;
        height: 100%;
        width: 100%;
        color: #f5f5f5;
        text-align: center;
        background-color:  rgba(0, 0, 0, 0.1);
       
        
      
      }
    }
  }

.hambIcon>i{
  transform: scale(2);
  z-index: 8888;
}
.hambIcon:hover{
  cursor: pointer;
}

.navLink:hover{
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.3s ease-in;
}

.navLink{
  padding: 0.3em 1em;
}

/*MAIN SECTION*/
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  width: 100vw;
  height: 92vh;
  gap: 6em;
  margin-bottom: 15%;
}

.main>div>img{
  width: clamp(240px, 40vw, 470px);
  border-radius: 10%;
  z-index: 1;
  
  
}

#mainImgWrapper{
    position: relative;
    &:after{
      content: "";
      position: absolute;
      z-index: 9999;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%,  rgba(245, 245, 245, 1) 90%);
      width: 100%;
      height: 20%;
      bottom: 0;
      left: 0;
    }
}

.infoWrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  height: 40%;
  font-size: clamp(1rem, 0rem + 3.125vw, 2rem);
  
}
.infoWrapper>div{
  color: var(--primaryColor);
}



.buttonsWrapper {
  display: flex;
}

.helloText{
  text-align: center;
  border: solid black 1px;
}

.button{
  background-color: #f5f5f5;
  width: 150px;
  color: black;
  border-radius: 20px;
  margin: 1rem;
  padding: 0.8rem 1.3rem;
  font-weight: bolder;
}
.highlight {
  background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #FCA311 90%);
}


.button:hover{
  cursor: pointer;
  background-color: var(--primaryColor);
  color: #f5f5f5;
  transition: all 0.25s ease-in-out;
}

.iconRow{
  display: flex;
  gap: 1em;
  white-space: no-wrap;
  
  

}

/*About section*/
.about{
  color: var(--primaryColor);
  padding: 0em 1em;
  height: auto;
  width: 100vw;
  margin-bottom: 15%;
}

#aboutImg{
  max-width: 30vw;
  
}

.aboutTxt{
  display: flex;
  flex-direction: column;
  width: 45%;
  gap: 3rem;
}

.imgTxtWrapper{
  display: flex;
  padding: 2rem;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}
.imgTxtWrapper>p{
  width: 45%;
}

.projectsPage{
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 140vh;
  margin-bottom: 15%;
  color: var(--primaryColor);
  background-color: #f5f5f5;
}
.projectsWrapper{
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(1, 30%);
  grid-template-rows: repeat(1, 30%);
  width: 40%;
  aspect-ratio: 1;
  
}

.project-md{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: 50vh;
  padding: 1rem;
  text-align: justify;
  font-size: 0.8rem;
}
.cardLink{
  text-decoration: none;
  color: black;
}


.project{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  color: black;
  border-radius: 8px;
  padding: 4rem 2rem;
  gap: 3rem;
  margin: 2rem;
  height: 60vh;
  aspect-ratio: 3/4;
  text-align: justify;
  
}


.projectCardButton{
  background-color: #000000;
  color: whitesmoke;
  border-radius: 20px;
  width: 90%;
  height: 10%;
}

.projectsWrapper-md{
  display: grid;
  border-radius: 10px;
 
  grid-template-columns: repeat(2, clamp(150px, 50%, 300px));
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 80%;
  height: 75%;
}




.project-md>img{
  height: 15%;
}
.project-md>h2{
  height: 10%;
}
.project-md>p{
  height: 40%;
}
.project-md>a{
  display: block;
  height: 15%;
  color: red;
}

@media (max-width: 600px) {
}
.footer {
  display: flex;
  background-color: #000000;
  color: #f5f5f5;
  justify-content: center;
  align-items: center;
}

.footer-sm{
  font-size: 0.7rem;
  height: 20vh;
}
.contactInfo{
  
  padding: 1rem;
  margin: 1rem;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
  

}
.phoneDiv, .emailDiv{
  display: flex;
  justify-content: start;
  align-items: center;
  
  
 
  
}
.phoneDiv>img, .emailDiv>img{
  width: 20px;
}

.socialRow{
 
  height: 60%;
  display: flex;
  padding: 1rem;
  margin: 1rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.socialRow>img{
  width: 24px;
}

@media (max-width: 768px){
  .navLink{
    text-align: center;
    
    width: 100%;
    padding: 1em 0em;
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0rem;
    align-items: center;
    
    height:  92vh;
  }
  
  .main>*{
   
    margin: 1em 0em;
  }
  
  
  
  


  .infoWrapper{
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  /************ABOUT SECTION*********************/
  .about{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: auto;
    width: 100vw;
  }
  .about>*{
    margin: 1rem;
  }
  .aboutTxt{
    
    width: 100%;
  }
  .imgTxtWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  #aboutImg{
    max-width: 400px;
    
  }

  /****PROJECTS*****/
  .projectsPage{
    width: 100vw;
    height: auto;
   
  }
  .projectsWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    width: 100vw;
    height: auto;
    
  }
  


  
  

  
}

@media (max-width: 450px) {
  #main, #about{
    width: 90vw;
  }
  .project{
    width: 90vw;
    
    
  }
}


